<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.ecommerce.mapper.OrdersMapper">
    <select id="getOrdersDetail" resultType="map" parameterType="OrdersEntity">
        select
            gt.id, gt.gname, gt.grprice, od.shoppingnum, gt.grprice * od.shoppingnum smallTotal
        from orderdetail  as od
                 join goodstable as gt on  od.goodstable_id = gt.id
            where od.orderbasetable_id = #{id}
    </select>
    <!-- 按类型统计（最近1年的） -->
    <select id="selectOrderByType" resultType="map">
        SELECT
            SUM(gt.grprice * od.shoppingnum) AS value,
            gy.typename AS name
        FROM
            orderbasetable ob
            JOIN orderdetail od ON ob.id = od.orderbasetable_id
            JOIN goodstable gt ON od.goodstable_id = gt.id
            JOIN goodstype gy ON gt.goodstype_id = gy.id
        WHERE
            ob.status = 1
        <!-- AND ob.orderdate > DATE_SUB(CURDATE(), INTERVAL 1 YEAR) -->
    GROUP BY
        gy.typename
    </select>
    
    <!-- 通过商品ID查询包含该商品的订单 -->
    <select id="getOrdersByGoodsId" resultType="OrdersEntity">
        SELECT DISTINCT
            ob.*
        FROM
            orderbasetable ob
            JOIN orderdetail od ON ob.id = od.orderbasetable_id
        <where>
            <if test="entity.goodstableId != null">
                od.goodstable_id = #{entity.goodstableId}
            </if>
            <if test="entity.minAmount != null">
                AND ob.amount >= #{entity.minAmount}
            </if>
            <if test="entity.maxAmount != null">
                AND ob.amount &lt;= #{entity.maxAmount}
            </if>
            <if test="entity.minId != null">
                AND ob.id >= #{entity.minId}
            </if>
            <if test="entity.maxId != null">
                AND ob.id &lt;= #{entity.maxId}
            </if>
            <if test="entity.startDate != null and entity.startDate != ''">
                AND ob.orderdate >= #{entity.startDate}
            </if>
            <if test="entity.endDate != null and entity.endDate != ''">
                AND ob.orderdate &lt;= #{entity.endDate}
            </if>
            <if test="entity.status != null">
                AND ob.status = #{entity.status}
            </if>
        </where>
        ORDER BY ob.orderdate DESC
    </select>
</mapper>
